<ng-template #progressSpinnerRef>
  <mat-spinner
    class="fdp-spinner"
    diameter="100"
    strokeWidth="5"
    *ngIf="overlayProgressStatus == 0"
  ></mat-spinner>
  <mat-card
    class="overlay"
    [ngClass]="{
      info: overlayProgressStatus === 0,
      success: overlayProgressStatus === 1,
      error: overlayProgressStatus === 2
    }"
  >
    <mat-card-content>
      <mat-label>
        {{ overlayMessage }}
      </mat-label>
    </mat-card-content>
  </mat-card>
</ng-template>
